<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>

    {{!-- Character Creator Header --}}
    <header class="sheet-header creator-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
            </h1>

            {{!-- Hero Point Budget Display --}}
            <div class="budget-summary grid grid-3col">
                <div class="budget-item">
                    <label>HP Budget:</label>
                    <span class="budget-value">{{system.heroPointBudget.total}}</span>
                </div>
                <div class="budget-item">
                    <label>HP Spent:</label>
                    <span class="budget-value">{{system.heroPointBudget.totalSpent}}</span>
                </div>
                <div class="budget-item {{#if (compare system.heroPointBudget.remaining '<' 0)}}over-budget{{/if}}">
                    <label>HP Remaining:</label>
                    <span class="budget-value"><strong>{{system.heroPointBudget.remaining}}</strong></span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Character Creator Tab Navigation --}}
    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='attributes'>Attributes</a>
        <a class='item' data-tab='powers'>Powers</a>
        <a class='item' data-tab='skills'>Skills</a>
        <a class='item' data-tab='traits'>Traits</a>
        <a class='item' data-tab='wealth'>Wealth</a>
    </nav>

    {{!-- Character Creator Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            {{!-- Row 1: DEX, STR, BODY --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Dexterity - Agility and coordination">DEX</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(dexInput.value) > 0) { dexInput.value = parseInt(dexInput.value) - 1; dexInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="dexInput" name="system.attributes.dex.value" type="number" class="input-box" value="{{system.attributes.dex.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="dexInput.value = parseInt(dexInput.value) + 1; dexInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.dex.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Strength - Lifting ability and muscular power">STR</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(strInput.value) > 0) { strInput.value = parseInt(strInput.value) - 1; strInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="strInput" name="system.attributes.str.value" type="number" class="input-box" value="{{system.attributes.str.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="strInput.value = parseInt(strInput.value) + 1; strInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.str.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Body - Physical durability and resistance to damage">BODY</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(bodyInput.value) > 0) { bodyInput.value = parseInt(bodyInput.value) - 1; bodyInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="bodyInput" name="system.attributes.body.value" type="number" class="input-box" value="{{system.attributes.body.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="bodyInput.value = parseInt(bodyInput.value) + 1; bodyInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.body.value 6}} HP</span>
                    </div>
                </div>
            </section>

            {{!-- Row 2: INT, WILL, MIND --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Intelligence - Knowledge, reasoning, and memory">INT</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(intInput.value) > 0) { intInput.value = parseInt(intInput.value) - 1; intInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="intInput" name="system.attributes.int.value" type="number" class="input-box" value="{{system.attributes.int.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="intInput.value = parseInt(intInput.value) + 1; intInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.int.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Willpower - Determination and mental toughness">WILL</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(willInput.value) > 0) { willInput.value = parseInt(willInput.value) - 1; willInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="willInput" name="system.attributes.will.value" type="number" class="input-box" value="{{system.attributes.will.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="willInput.value = parseInt(willInput.value) + 1; willInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.will.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Mind - Mental resistance and psychic defense">MIND</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(mindInput.value) > 0) { mindInput.value = parseInt(mindInput.value) - 1; mindInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="mindInput" name="system.attributes.mind.value" type="number" class="input-box" value="{{system.attributes.mind.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="mindInput.value = parseInt(mindInput.value) + 1; mindInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.mind.value 6}} HP</span>
                    </div>
                </div>
            </section>

            {{!-- Row 3: INFL, AURA, SPIRIT --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Influence - Charisma, personality, and presence">INFL</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(inflInput.value) > 0) { inflInput.value = parseInt(inflInput.value) - 1; inflInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="inflInput" name="system.attributes.infl.value" type="number" class="input-box" value="{{system.attributes.infl.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="inflInput.value = parseInt(inflInput.value) + 1; inflInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.infl.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Aura - Interpersonal resonance and magical effects">AURA</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(auraInput.value) > 0) { auraInput.value = parseInt(auraInput.value) - 1; auraInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="auraInput" name="system.attributes.aura.value" type="number" class="input-box" value="{{system.attributes.aura.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="auraInput.value = parseInt(auraInput.value) + 1; auraInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.aura.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Spirit - Spiritual strength and mystical resistance">SPIRIT</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(spiritInput.value) > 0) { spiritInput.value = parseInt(spiritInput.value) - 1; spiritInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="spiritInput" name="system.attributes.spirit.value" type="number" class="input-box" value="{{system.attributes.spirit.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="spiritInput.value = parseInt(spiritInput.value) + 1; spiritInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.spirit.value 6}} HP</span>
                    </div>
                </div>
            </section>

            {{!-- Attributes Summary --}}
            <section class="attributes-summary">
                <div class="summary-row">
                    <label class="summary-label">Total Attributes Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.attributesCost}} HP</span>
                </div>
            </section>
        </div>

        {{!-- Powers Tab (Placeholder) --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            <p>Powers selection coming soon...</p>
        </div>

        {{!-- Skills Tab (Placeholder) --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <p>Skills selection coming soon...</p>
        </div>

        {{!-- Traits Tab (Placeholder) --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
            <p>Advantages and Drawbacks coming soon...</p>
        </div>

        {{!-- Wealth Tab (Placeholder) --}}
        <div class="tab wealth" data-group="primary" data-tab="wealth">
            <p>Wealth selection coming soon...</p>
        </div>

    </section>
</form>
