<form class='{{cssClass}} {{actor.type}} flexcol character-creator' autocomplete='off'>

    {{!-- Character Creator Header --}}
    <header class="sheet-header creator-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
            </h1>

            {{!-- Hero Point Budget Display --}}
            <div class="resources grid grid-3col">
                <div class="resource flex-group-center">
                    <label for="system.creationBudget.base" class="resource-label">HP Budget</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.creationBudget.base" value="{{system.creationBudget.base}}" data-dtype="Number" min="0" class="resource-value-input" />
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.heroPointBudget.totalSpent" class="resource-label">HP Spent</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <span class="resource-value">{{formatNumber system.heroPointBudget.totalSpent}}</span>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.heroPointBudget.remaining" class="resource-label">HP Remaining</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <span class="resource-value {{#if (compare system.heroPointBudget.remaining '<' 0)}}over-budget{{/if}}">{{formatNumber system.heroPointBudget.remaining}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Character Creator Tab Navigation --}}
    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='attributes'>Attributes</a>
        <a class='item' data-tab='powers'>Powers</a>
        <a class='item' data-tab='skills'>Skills</a>
        <a class='item' data-tab='traits'>Traits</a>
        <a class='item' data-tab='gadgets'>Gadgets</a>
        <a class='item' data-tab='wealth'>Wealth</a>
    </nav>

    {{!-- Character Creator Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            {{!-- Attributes Summary --}}
            <section class="attributes-summary">
                <div class="summary-row">
                    <label class="summary-label">Total Attributes Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.attributesCost}} HP</span>
                </div>
            </section>

            {{!-- Row 1: DEX, STR, BODY --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Dexterity - Agility and coordination">DEX</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(dexInput.value) > 0) { dexInput.value = parseInt(dexInput.value) - 1; dexInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="dexInput" name="system.attributes.dex.value" type="number" class="input-box" value="{{system.attributes.dex.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="dexInput.value = parseInt(dexInput.value) + 1; dexInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.dex.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Strength - Lifting ability and muscular power">STR</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(strInput.value) > 0) { strInput.value = parseInt(strInput.value) - 1; strInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="strInput" name="system.attributes.str.value" type="number" class="input-box" value="{{system.attributes.str.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="strInput.value = parseInt(strInput.value) + 1; strInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.str.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Body - Physical durability and resistance to damage">BODY</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(bodyInput.value) > 0) { bodyInput.value = parseInt(bodyInput.value) - 1; bodyInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="bodyInput" name="system.attributes.body.value" type="number" class="input-box" value="{{system.attributes.body.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="bodyInput.value = parseInt(bodyInput.value) + 1; bodyInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.body.value 6}} HP</span>
                    </div>
                </div>
            </section>

            {{!-- Row 2: INT, WILL, MIND --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Intelligence - Knowledge, reasoning, and memory">INT</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(intInput.value) > 0) { intInput.value = parseInt(intInput.value) - 1; intInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="intInput" name="system.attributes.int.value" type="number" class="input-box" value="{{system.attributes.int.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="intInput.value = parseInt(intInput.value) + 1; intInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.int.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Willpower - Determination and mental toughness">WILL</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(willInput.value) > 0) { willInput.value = parseInt(willInput.value) - 1; willInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="willInput" name="system.attributes.will.value" type="number" class="input-box" value="{{system.attributes.will.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="willInput.value = parseInt(willInput.value) + 1; willInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.will.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Mind - Mental resistance and psychic defense">MIND</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(mindInput.value) > 0) { mindInput.value = parseInt(mindInput.value) - 1; mindInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="mindInput" name="system.attributes.mind.value" type="number" class="input-box" value="{{system.attributes.mind.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="mindInput.value = parseInt(mindInput.value) + 1; mindInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.mind.value 6}} HP</span>
                    </div>
                </div>
            </section>

            {{!-- Row 3: INFL, AURA, SPIRIT --}}
            <section class="attributes grid grid-3col attributeRow">
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Influence - Charisma, personality, and presence">INFL</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(inflInput.value) > 0) { inflInput.value = parseInt(inflInput.value) - 1; inflInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="inflInput" name="system.attributes.infl.value" type="number" class="input-box" value="{{system.attributes.infl.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="inflInput.value = parseInt(inflInput.value) + 1; inflInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.infl.value 7}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Aura - Interpersonal resonance and magical effects">AURA</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(auraInput.value) > 0) { auraInput.value = parseInt(auraInput.value) - 1; auraInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="auraInput" name="system.attributes.aura.value" type="number" class="input-box" value="{{system.attributes.aura.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="auraInput.value = parseInt(auraInput.value) + 1; auraInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.aura.value 6}} HP</span>
                    </div>
                </div>
                <div class="attribute flex-group-center">
                    <label class="resource-label flexlarge align-left" title="Spirit - Spiritual strength and mystical resistance">SPIRIT</label>
                    <div class="quantity attribute-input">
                        <button class="minus" aria-label="Decrease" onClick="if (parseInt(spiritInput.value) > 0) { spiritInput.value = parseInt(spiritInput.value) - 1; spiritInput.dispatchEvent(new Event('change', {bubbles: true})); }">&minus;</button>
                        <input id="spiritInput" name="system.attributes.spirit.value" type="number" class="input-box" value="{{system.attributes.spirit.value}}" min="0" max="60" data-dtype="Number" />
                        <button class="plus" aria-label="Increase" onClick="spiritInput.value = parseInt(spiritInput.value) + 1; spiritInput.dispatchEvent(new Event('change', {bubbles: true}));">&plus;</button>
                    </div>
                    <div class="attribute-cost">
                        <span class="cost-value">{{getAttributeCost system.attributes.spirit.value 6}} HP</span>
                    </div>
                </div>
            </section>
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">

            {{!-- Powers Summary --}}
            <section class="powers-summary">
                <div class="summary-row">
                    <label class="summary-label">Total Powers Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.powersCost}} HP</span>
                </div>
            </section>

            {{!-- Powers List --}}
            <ol class='items-list'>
                <li class='item flexrow items-header'>
                    <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                    <div class='item-linked'>{{localize 'MEGS.Link'}}?</div>
                    <div class='item-base-cost'>{{localize 'MEGS.Base'}}<br>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-factor-cost'>{{localize 'MEGS.Factor'}}<br>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-aps'>{{localize 'MEGS.APs'}}</div>
                    <div class='item-total-cost'>{{localize 'MEGS.Total'}}<br>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-controls'></div>
                </li>
                {{#each powers as |item id|}}
                    <li class='item flexrow item-row {{#if item.system.aps}}bold{{/if}}' data-item-id='{{item._id}}'>
                        <div class='item-name'>
                            {{getPowerDisplayName item}}
                        </div>
                        <div class='item-linked'>
                            <input type="checkbox" name="system.isLinked" {{checked item.system.isLinked}} data-item-id="{{item._id}}" />
                        </div>
                        <div class='item-base-cost'>
                            {{item.system.baseCost}}
                        </div>
                        <div class='item-factor-cost factor-cost-calculated' title='{{getFactorCostTooltip item ../items}}'>
                            {{getEffectiveFactorCost item ../items}}
                        </div>
                        <div class='item-aps {{#if (isLinkedPowerMismatch item ../actor)}}link-mismatch{{/if}}'>
                            <div class="quantity skill-input">
                                <button class="ap-minus" aria-label="Decrease" data-item-id="{{item._id}}">&minus;</button>
                                <input id="power-aps-{{item._id}}" name="system.aps" type="number" class="input-box" value="{{item.system.aps}}" min="0" data-dtype="Number" readonly />
                                <button class="ap-plus" aria-label="Increase" data-item-id="{{item._id}}">&plus;</button>
                            </div>
                        </div>
                        <div class='item-total-cost total-cost-calculated' title='{{getTotalCostTooltip item ../items}}'>
                            {{item.system.totalCost}}
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-delete' title='Delete {{item.name}}'>
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
                    </li>
                    {{!-- Display Bonuses and Limitations under the Power --}}
                    {{#each (getPowerModifiers item._id ../items) as |modifier|}}
                        <li class='item flexrow item-row modifier-row' data-item-id='{{modifier._id}}'>
                            <div class='item-name modifier-name'>
                                <span style="display: inline-block; width: 25px;"></span>{{modifier.name}}
                            </div>
                            <div class='item-linked'></div>
                            <div class='item-base-cost'></div>
                            <div class='item-factor-cost'>
                                {{formatSigned modifier.system.factorCostMod}}
                            </div>
                            <div class='item-aps'></div>
                            <div class='item-total-cost'></div>
                            <div class='item-controls'>
                                <a class='item-control item-delete' title='Delete {{modifier.name}}'>
                                    <i class='fas fa-trash'></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">

            {{!-- Skills Summary --}}
            <section class="skills-summary">
                <div class="summary-row">
                    <label class="summary-label">Total Skills Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.skillsCost}} HP</span>
                </div>
            </section>

            {{!-- Skills List --}}
            <ol class='items-list'>
                <li class='item flexrow items-header'>
                    <div class='item-toggle'></div>
                    <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                    <div class='item-base-cost'>{{localize 'MEGS.Base'}}<br>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-factor-cost'>{{localize 'MEGS.Factor'}}<br>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-aps'>{{localize 'MEGS.APs'}}</div>
                    <div class='item-total-cost'>{{localize 'MEGS.Total'}}<br>{{localize 'MEGS.Cost'}}</div>
                </li>
                {{#each skills as |item id|}}
                    <li class='item flexrow item-row skill-row {{#if item.system.aps}}bold{{/if}}' data-item-id='{{item._id}}' data-expanded='false'>
                        <div class='item-toggle'>
                            <i class='fas fa-chevron-right toggle-icon'></i>
                        </div>
                        <div class='item-name'>
                            {{item.name}}
                        </div>
                        <div class='item-base-cost'>
                            {{item.system.baseCost}}
                        </div>
                        <div class='item-factor-cost factor-cost-calculated' title='{{getSkillFactorCostTooltip item ../items}}'>
                            {{getSkillEffectiveFactorCost item ../items}}
                        </div>
                        <div class='item-aps'>
                            <div class="quantity skill-input">
                                <button class="ap-minus" aria-label="Decrease" data-item-id="{{item._id}}">&minus;</button>
                                <input id="skill-aps-{{item._id}}" name="system.aps" type="number" class="input-box" value="{{item.system.aps}}" min="0" data-dtype="Number" readonly />
                                <button class="ap-plus" aria-label="Increase" data-item-id="{{item._id}}">&plus;</button>
                            </div>
                        </div>
                        <div class='item-total-cost total-cost-calculated' title='{{getTotalCostTooltip item ../items}}'>
                            {{item.system.totalCost}}
                        </div>
                    </li>
                    {{!-- Display Subskills under the Skill --}}
                    {{#each (getSkillSubskills item._id ../items) as |subskill|}}
                        <li class='item flexrow item-row modifier-row subskill-row' data-item-id='{{subskill._id}}' data-parent-id='{{item._id}}' style='display: none;'>
                            <div class='item-toggle'></div>
                            <div class='item-name modifier-name'>
                                <input type="checkbox" class="subskill-checkbox" {{checked subskill.system.isTrained}} data-item-id="{{subskill._id}}" />
                                <span style="display: inline-block; width: 10px;"></span>{{subskill.name}}
                            </div>
                            <div class='item-base-cost'></div>
                            <div class='item-factor-cost'></div>
                            <div class='item-aps'></div>
                            <div class='item-total-cost'></div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        </div>

        {{!-- Traits Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">

            {{!-- Traits Summary --}}
            <section class="traits-summary">
                <div class="summary-row">
                    <label class="summary-label">Net Traits Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.traitsCost}} HP</span>
                </div>
            </section>

            {{!-- Traits Two-Column Layout --}}
            <div class="resources grid grid-2col">

                {{!-- Advantages Column --}}
                <div class="resource flex-group-center">
                    <div class="grid-2col-header">
                        {{localize "MEGS.Advantages"}}
                        <span class="header-cost">({{system.heroPointBudget.advantagesCost}} HP)</span>
                    </div>
                    <ol class='items-list'>
                        <li class='item flexrow items-header'>
                            <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                            <div class='item-cost'>{{localize 'MEGS.Cost'}}</div>
                            <div class='item-controls'></div>
                        </li>
                        {{#each advantages as |item id|}}
                            <li class='item flexrow item-row' data-item-id='{{item._id}}'>
                                <div class='item-name'>
                                    {{item.name}}
                                </div>
                                <div class='item-cost'>
                                    {{item.system.totalCost}}
                                </div>
                                <div class='item-controls'>
                                    <a class='item-control item-delete' title='Delete {{item.name}}'>
                                        <i class='fas fa-trash'></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>

                {{!-- Drawbacks Column --}}
                <div class="resource flex-group-center">
                    <div class="grid-2col-header">
                        {{localize "MEGS.Drawbacks"}}
                        <span class="header-cost">({{negate system.heroPointBudget.drawbacks}} HP)</span>
                    </div>
                    <ol class='items-list'>
                        <li class='item flexrow items-header'>
                            <div class='item-name'>{{localize 'Name'}}</div>
                            <div class='item-cost'>{{localize 'MEGS.Cost'}}</div>
                            <div class='item-controls'></div>
                        </li>
                        {{#each drawbacks as |item id|}}
                            <li class='item flexrow item-row' data-item-id='{{item._id}}'>
                                <div class='item-name'>
                                    {{item.name}}
                                </div>
                                <div class='item-cost'>
                                    {{negate item.system.totalCost}}
                                </div>
                                <div class='item-controls'>
                                    <a class='item-control item-delete' title='Delete {{item.name}}'>
                                        <i class='fas fa-trash'></i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>

            </div>
        </div>

        {{!-- Gadgets Tab --}}
        <div class="tab gadgets" data-group="primary" data-tab="gadgets">

            {{!-- Gadgets Summary --}}
            <section class="gadgets-summary">
                <div class="summary-row">
                    <label class="summary-label">Total Gadgets Cost:</label>
                    <span class="summary-value">{{system.heroPointBudget.gadgetsCost}} HP</span>
                </div>
            </section>

            {{!-- Gadgets List --}}
            <ol class='items-list'>
                <li class='item flexrow items-header'>
                    <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                    <div class='item-gadget-cost'>{{localize 'MEGS.Cost'}}</div>
                    <div class='item-controls'></div>
                </li>
                {{#each gadgets as |item id|}}
                    <li class='item flexrow item-row' data-item-id='{{item._id}}'>
                        <div class='item-name'>
                            <strong>{{item.name}}</strong> ({{getGadgetDescription item}})
                        </div>
                        <div class='item-gadget-cost gadget-cost-tooltip' title='{{getGadgetCostTooltip item}}'>
                            {{item.system.totalCost}}
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-delete' title='Delete {{item.name}}'>
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Wealth Tab --}}
        <div class="tab wealth" data-group="primary" data-tab="wealth">

            {{!-- Wealth Inflation Controls --}}
            <section class="wealth-summary">
                <div class="summary-row">
                    <div class="inflation-controls-left">
                        <input type="checkbox" name="system.wealthAdjustForInflation" {{checked system.wealthAdjustForInflation}} class="wealth-inflation-checkbox" />
                        <label>Do you want to adjust for inflation?</label>
                    </div>
                    <div class="inflation-controls-right">
                        <select name="system.wealthYear" class="wealth-year-select" {{#unless system.wealthAdjustForInflation}}disabled{{/unless}}>
                            {{#each wealthData.adjusted_years as |year|}}
                                <option value="{{year}}" {{#if (eq year ../system.wealthYear)}}selected{{/if}}>{{year}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </section>

            {{!-- Wealth Table --}}
            <div class="wealth-table-wrapper">
                <table class="wealth-table">
                    <thead>
                        <tr>
                            <th class="wealth-select-col">Select</th>
                            <th class="wealth-ap-col">AP</th>
                            <th class="wealth-cost-col">Cost</th>
                            <th class="wealth-value-col">Wealth</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each wealthData.wealth_table as |row|}}
                            <tr class="wealth-row">
                                <td class="wealth-select-col">
                                    <input type="radio" name="system.wealth" value="{{row.ap}}" {{checked (eq row.ap (debugLog "wealth value for comparison" (default ../system.wealth 0)))}} class="wealth-radio" data-ap="{{row.ap}}" />
                                </td>
                                <td class="wealth-ap-col">{{row.ap}}</td>
                                <td class="wealth-cost-col">{{getAPCost row.ap 2}}</td>
                                <td class="wealth-value-col" data-ap="{{row.ap}}">
                                    ${{formatNumber (lookup row ../system.wealthYear)}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>

    </section>
</form>
